<h1>
  {{title}}
</h1>
<accordion>
  <accordion-group 
    *ngFor="let data of datas;let i = index;" 
    heading="Log {{data['_id']}}" 
    [index]=i 
    [isOpen]="i==0?true:false"
    >
    <pre>{{data| json}}</pre>
  </accordion-group>
</accordion>
<app-pagination
(goPage)="goToPage($event)"
(goNext)="onNext()"
(goPrev)="onPrev()"
[pagesToShow]="5"
[page]="page"
[perPage]="limit"
[count]="total"></app-pagination>

