<div class="accordion-group" [ngClass]="{'closed': !isOpen}">
    <div class="panel-heading" (click)="toggleOpen()">
      <span>{{heading}}</span>
    </div>
    <div class="panel-collapse">
      <div class="panel-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>