.accordion-group{
    position: relative;
  
    &.closed{
      .panel-collapse{
        max-height: 0;
      }
    }
  
    .panel-heading{
      cursor: pointer;
    }
  
    .panel-collapse{
      transition-property: all;
      transition: .5s ease;
  
      overflow-y: hidden;
      max-height: 1000px;
      padding-left: 20px;
    }
  }